/* important to have it */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
/* variables */
:root {
  --main-color: #6e07f3;
  --section-padding: 100px;
  --background: white;
  --trans-duration: 0.3s;
}
/* variables */

html {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}
body {
  font-family: "Open Sans", sans-serif;
}
:target {
  animation-name: target;
  animation-duration: 1s;
  animation-delay: 0.5s;
}
@keyframes target {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* big screens */
@media (min-width: 1300px) {
  .container {
    width: 1290px;
  }
}
::selection {
  background-color: var(--main-color);
  color: var(--background);
}
/* End Global Rules */
/* nav start */
.nav {
  box-shadow: 0 0 10px #ddd;
  background-color: var(--background);
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
}
.nav .container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.nav .container ul li a {
  display: block;
  width: 100%;
  padding: 10px;
  border: var(--main-color) 1px solid;
  border-radius: 50%;
  transition-duration: var(--trans-duration);
}
.nav .container ul svg {
  width: 20px;
  height: 20px;
}
.nav .container ul li a:hover svg {
  fill: var(--background);
}
.nav .container ul li a:hover {
  background-color: var(--main-color);
}
/* nav end */
/* landing start */
.landing {
  position: relative;
  background-color: var(--background);
  padding-top: 10vh;
  text-align: center;
  height: calc(100vh - 60px);
}
.landing .container h1 {
  font-weight: 900;
  font-size: 2.1rem;
}
.landing .container p {
  font-size: 1.5rem;
}
.landing .container .pfp {
  margin-block: 5vh;
  width: 200px;
}
.landing .container .device {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 750px;
}
@media (max-width: 773px) {
  .landing .container h1 {
    font-weight: 900;
    font-size: 1.5rem;
  }
  .landing .container p {
    font-size: 1rem;
  }
  .landing .container .device {
    width: 100%;
  }
  .landing .container .pfp {
    width: 150px;
  }
}
/* landing end */
/* intro start */
.intro {
  background-color: var(--main-color);
  color: var(--background);
  text-align: center;
}
.intro .text {
  max-width: 75ch;
  padding: 10rem 0 15rem;
  margin: 0 auto;
}
.intro .text h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 900;
}
.intro .text p {
  line-height: 2;
  font-weight: 500;
}
@media (max-width: 773px) {
  .intro .text h2 {
    font-weight: 900;
    font-size: 1.5rem;
  }
  .intro .text p {
    font-size: 1rem;
  }
}
/* intro end */
/* experience start */
.exp {
  position: relative;
  background-color: var(--background);
  text-align: center;
}
.exp .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.exp .container .box {
  padding: 60px;
  border: 1px solid #e6ecf8;
  background-color: var(--background);
  box-shadow: rgba(221, 221, 221, 0.11) 0px 0px 10px;
  position: relative;
  top: -5rem;
  z-index: 2;
}
.exp .container .box:nth-child(1) {
  border-radius: 15px 0 0 15px;
}
.exp .container .box:nth-child(3) {
  border-radius: 0 15px 15px 0;
}
@media (max-width: 992px) {
  .exp .container .box:nth-child(1) {
    border-radius: 15px 0 0 0;
  }
  .exp .container .box:nth-child(2) {
    border-radius: 0 15px 0 0;
  }
  .exp .container .box:nth-child(3) {
    border-radius: 0 0 15px 15px;
  }
}
@media (max-width: 545px) {
  .exp .container .box:nth-child(1) {
    border-radius: 15px 15px 0 0;
  }
  .exp .container .box:nth-child(2) {
    border-radius: 0;
  }
  .exp .container .box:nth-child(3) {
    border-radius: 0 0 15px 15px;
  }
}
.exp .container .svg {
  background-color: #5be9b9;
  padding: 15px;
  width: fit-content;
  margin: 0 auto 20px;
  border-radius: 50%;
}
.exp .container .svg svg {
  width: 40px;
  height: 40px;
}
.exp .container .box h3 {
  font-weight: 900;
  margin-bottom: 20px;
}
.exp .container .box p {
  max-width: 50ch;
  margin: 0 auto 20px;
  font-weight: 600;
  line-height: 1.5;
}
.exp .container .box span {
  font-weight: 500;
}
.exp .container .box .stuff {
  margin-top: 40px;
}
.exp .container .box .stuff p {
  color: var(--main-color);
  margin: 10px;
}
.exp .container .box .stuff li {
  margin-block-end: 15px;
  font-weight: 500;
}
/* experience end */
/* work start */
.work {
  background-color: var(--background);
  text-align: center;
  padding-block: 50px;
}
.work h2 {
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 20px;
}
.work p {
  font-weight: 500;
  margin-bottom: 50px;
}
.work .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
}
.work .container .box {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}
.work .container .box img {
  width: 100%;
  transition-duration: var(--trans-duration);
  position: relative;
  z-index: 0;
}
.work .container .box::before {
  content: "";
  position: absolute;
  background-color: #6d07f328;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition-duration: var(--trans-duration);
  z-index: 1;
}
.work .container .box:hover img {
  transform: scale(1.3) rotate(5deg);
  opacity: 0;
}
.work .container .box:hover::before {
  background-color: #141c3a;
}
.work .container .box .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0;
  z-index: 100;
  transition-duration: calc(var(--trans-duration) + 0.1s);
}
.work .container .box:hover .text {
  opacity: 1;
}
.work .container .box .text h3 {
  font-size: 1rem;
  margin-bottom: 20px;
}
.work .container .box .text .flex {
  display: flex;
  gap: 10px;
}
.work .container .box .text a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 1px solid var(--main-color);
  border-radius: 50px;
  width: 160px;
  color: white;
  transition-duration: var(--trans-duration);
}
.work .container .box .text a:hover {
  background-color: var(--main-color);
}
.work .container .box .text svg {
  width: 15px;
  height: 20px;
  margin-right: 10px;
  fill: white;
}

/* work end */
/* contact start */
.contact {
  padding-block: 100px;
  position: relative;
}
.contact h2 {
  margin-bottom: 30px;
}
.contact input,
.input {
  display: block;
  margin: 25px auto;
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
  background-color: #f8f8f8;
  padding: 15px;
  caret-color: var(--main-color);
}
.contact .input {
  resize: none;
  height: 200px;
}
.contact input[type="submit"] {
  border: 1px solid var(--main-color);
  background-color: var(--background);
  color: var(--main-color);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition-duration: var(--trans-duration);
  border-radius: 50px;
}
.contact input[type="submit"]:hover {
  background-color: var(--main-color);
  color: var(--background);
}
.contact ::placeholder {
  font-size: 15px;
}
/* contact end */
/* footer start */
.copied {
  position: relative;
  box-shadow: none;
  background-color: var(--main-color);
  min-height: 30vh;
  text-align: center;
}
.copied q {
  color: var(--background);
  font-weight: bold;
  font-size: 1.5rem;
}
.copied ul {
  margin-top: 30px;
}
.copied svg {
  fill: var(--background);
}
.copied .container ul li a {
  border: 1px solid var(--background);
}
.copied .container ul li a:hover {
  background-color: var(--background);
}
.copied .container ul li a:hover SVG {
  fill: var(--main-color);
}
/* footer end */
