/* important to have it */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
/* variables */
:root {
  --main-color: #10cab7;
}
/* variables */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

:target {
  animation-name: traget;
  animation-duration: 1s;
  animation-delay: 0.25s;
}

@keyframes traget {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  50% {
    transform: scale(1.05);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

body {
  font-family: "Work Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 730px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 940px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1160px;
  }
}
/* End Global Rules */
/* special */
.special-heading {
  color: #c0c1c4;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -2px;
  margin: 0;
}
.special-heading + p {
  margin: -28px auto;
  text-align: center;
  font-size: 20px;
  color: #797979;
  width: fit-content;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin: -20px auto;
  }
}
/* special */
/* Headers start */
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 70px;
}
.header .links {
  position: relative;
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .links:hover ul {
  display: block;
  z-index: 10;
}
.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
}
.header .links .icon span:first-child {
  height: 3px;
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  height: 3px;
  width: 60%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.header .links .icon span:last-child {
  height: 3px;
  width: 100%;
}
.header .links ul {
  list-style: none;
  position: absolute;
  right: 0;
  margin: 0;
  padding: 0;
  background-color: #eee;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
}
.header .links ul::before {
  content: "";
  position: absolute;
  border: 10px solid;
  border-color: transparent transparent #eee transparent;
  left: 88%;
  top: -20px;
}
.header .links ul a {
  display: block;
  text-decoration: none;
  padding: 15px;
  color: #333;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.header .links ul a:hover {
  padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
  border-bottom: #ddd 2px solid;
}
/* Headers End */
/* landing start */
.landing {
  margin: 0;
  height: calc(100vh - 50px);
  background-image: url(../img/85838144-black-and-white-mountain-in-switzerland.jpg);
  background-size: cover;
  position: relative;
}
.landing .intro {
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center;
  width: 320px;
  min-width: 100%;
}
.landing .intro h1 {
  color: var(--main-color);
  font-weight: bold;
  font-size: 50px;
}
.landing .intro p {
  font-size: 19px;
  line-height: 1.8;
}
/* landing end */
/* Feature */
.feature {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}
.feature .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.feature .feat {
  padding: 20px;
  text-align: center;
}
.feature .feat i {
  color: var(--main-color);
  text-align: center;
}
.feature .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}
.feature .feat p {
  color: #777;
  line-height: 1.8;
  font-size: 17px;
}
/* Feature */
/* services */
.services {
  padding-top: 60px;
  padding-bottom: 60px;
}
.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding-top: 50px;
}

.services .services-content .srv {
  display: flex;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .services .services-content .srv {
    flex-direction: column;
    text-align: center;
  }
}
.services .services-content .srv i {
  color: var(--main-color);
  flex-basis: 60px;
}
.services .services-content .srv .text {
  flex: 1;
}
.services .services-content .srv .text h3 {
  margin: 0 0 20px;
}
.services .services-content .srv .text p {
  color: #777;
  font-weight: 300;
}
.services .services-content .image {
  text-align: center;
  position: relative;
}
.services .services-content .image::before {
  content: "";
  position: absolute;
  background-color: #2a4456;
  height: 110%;
  width: 30%;
  z-index: -1;
  right: -5%;
  top: -5%;
}
@media (max-width: 992px) {
  .image-column {
    display: none;
  }
}
/* services */
/* portfolio */
.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}
.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 80px;
}
.portfolio .portfolio-content .card {
  background-color: white;
}
.portfolio .portfolio-content .card img {
  max-width: 100%;
}
.portfolio .info {
  padding: 20px;
}
.portfolio .info h3 {
  margin: 0;
}
.portfolio .info p {
  color: #777;
  line-height: 1.8;
  margin-bottom: 0;
}
/* portfolio */
/* about */
.about {
  padding-bottom: 60px;
  padding-top: 60px;
}
.about-content {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about .about-content .img {
  position: relative;
  width: 250px;
  height: 375px;
}
.about .about-content .img img {
  max-width: 100%;
}
.about .about-content .img::before {
  position: absolute;
  content: "";
  background-color: #ebeced;
  height: calc(100% + 60px);
  width: 30%;
  top: -30px;
  left: -10px;
  z-index: -1;
}
.about .about-content .img::after {
  position: absolute;
  content: "";
  width: 30%;
  height: 70%;
  border-bottom: solid 60px var(--main-color);
  border-left: solid 60px var(--main-color);
  right: -100px;
  top: -30px;
  z-index: -1;
}
@media (max-width: 991px) {
  .about .about-content .img::after,
  .about .about-content .img::before {
    display: none;
  }
  .about-content {
    flex-direction: column;
  }
  .about .about-content .img {
    margin: 0 auto;
    margin-bottom: 60px;
  }
  .about .text {
    text-align: center;
  }
}
.about .text {
  flex-basis: calc(100% - 500px);
}
.about .text p:first-of-type {
  font-weight: bold;
  line-height: 1.8;
  margin-bottom: 60px;
}
.about .text hr {
  width: 70%;
  display: inline-block;
  border-color: var(--main-color);
}
.about .text p:last-of-type {
  line-height: 2;
  color: #777;
  margin-top: 60px;
}
/* about */
/* contact */
.contact {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}

.contact .info {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
.contact .info .label {
  font-size: 30px;
  font-weight: 800;
  color: #2a4456;
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .info .link {
  display: block;
  font-size: 30px;
  font-weight: 800;
  color: var(--main-color);
  text-decoration: none;
}
.contact .info .social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 17px;
}
.contact .info .social i {
  margin-left: 10px;
  color: #2a4456;
}
/* contact */
/* footer */
.footer {
  padding: 30px 10px;
  background-color: #2a4456;
  text-align: center;
  color: white;
  font-size: 18px;
}
.footer span {
  color: var(--main-color);
  font-weight: bold;
}
/* footer */
